footer {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;

  div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      color: rgb(51, 160, 215);
    }
  }
}

.button-img { 
  width: 60px;

  &:hover {
    transform: scale(1.1);
  }
}